.contenedor-video {
    background-color: var(--segundo-color);
    height: var(--alto-contenedor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-video article{
    padding: 100px;
    background-color: white;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
}

.contenedor-video article video{
    width: 800px;
}