:root {
    --primer-color: #ffce00;
    --segundo-color: #8ad4f9;
    --tercer-color: #fbb03b;
    --cuarto-color: #ce9045;
    --logo-color: white;
    --btn-menu-color: white;
    --btn-login-color: #1683F8;
    --alto-contenedor: 772px;
    --letras-buscador: white;
    --border-buscador: 2px solid white;
    --header-screen-480: purple;
    --header-screen-768: orange; /* ESTA RESOLUCIÓN SERA TAREA */
    --header-screen-1024: blue;
}